body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #131213;
  color: #fafafa;
}

.links line,
.links path {
  stroke: #fff;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font-family: sans-serif;
  font-size: 10px;
}

.back-link {
  position: absolute;
  top: 6px;
  left: 6px;
}

.imain {
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  margin-top: 20px;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.vis {
  height: 280px;
  margin: 50px;
}

a,
a:visited,
a:hover,
a:active {
  color: #b781ff;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.sm-vis {
  height: 150px;
}

ul.spaced > li {
  margin-bottom: 10px;
}

.flex-col {
  display: flex; 
  flex-direction: column;
}

.flex-row {
  display: flex; 
  flex-direction: row;
}

.mr {
  margin-right: 15px;
}